services:
  api:
    build: ./backend/
    ports:
      - "8001:8000"
    env_file:
      - .env
  frontend:
    build:
      context: ./frontend/
      args:
        API_BASE_URL: ${API_BASE_URL}
    depends_on:
      - api
    ports:
      - 8000:80
    env_file:
      - .env
