services:
  api:
    build: ./backend/
    env_file:
      - .env
    volumes:
      - ./db.sqlite3:/app/db.sqlite3
  frontend:
    build:
      context: ./frontend/
      args:
        BASE_URL: ${BASE_URL:-}
        GIT_COMMIT: ${GIT_COMMIT:-}
  proxy:
    image: caddy:latest
    ports:
      - "8080:80"
    depends_on:
      - api
      - frontend
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile:ro
