@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --animate-grow-shrink: grow-shrink 2s ease-in-out infinite;

  @keyframes grow-shrink {
    0%,
    75%,
    100% {
      height: 50%;
    }

    50% {
      height: 100%;
    }
  }
}
